body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
}

#game-container {
  margin-top: 50px;
}

#random-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

#buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.direction-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #ddd;
  transition: background-color 0.3s ease;
  border-radius: 15px;
}

.direction-button.correct {
  background-color: #56ce90;
  color: white;
}

.direction-button.wrong {
  background-color: #a9316f;
  color: white;
}

#new-challenge {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #c51d8f;
  color: white;
  border: none;
  border-radius: 15px;
}

/* A lenyíló tartalom alapértelmezetten rejtve van */
.accordion-content {
  display: none;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.2s ease-out;
}

/* A lenyíló tartalom megjelenítése */
.accordion-content.active {
  display: block;
}

/* Gomb stílus */
.accordion-button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  text-align: left;
  font-size: 16px;
  width: 100%;
  outline: none;
}

/* Gomb stílus nyitott állapotban */
.accordion-button.active {
  background-color: #0056b3;
}

div#cheat-container {
  margin-bottom: 100px;
}
